$text: #99aabb;

$dashed-path: 2 2;

:root {
  // default colors
  $colors: #6672fb, #d8adf2;

  @for $i from 0 to length($colors) {
    --color-#{$i}: #{nth($colors, $i+1)};
  }

  // default gradient colors
  $gradientSchema: #ff492d, #2dff9d;
}

$primary: #1976d2;

.bi-chart-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bi-container {
  display: flex;
  justify-content: space-between;

  .v-input {
    max-width: 80px;
  }
}